{% extends "billing/_base.html" %}
{% block content %}

<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">My Dashboard</li>
  </ol>
  <!-- Icon Cards-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-bar-chart"></i> Generate Pending Bills</div>
          <div class="card-body">
            <div class="row">                
              <form action="bills" method="POST">
                {% csrf_token %}                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>            
        </div>
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-table"></i> Bills</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Date</th>
                      <th>Client</th>                      
                      <th>Amount</th>                      
                      <th>View</th>                                           
                    </tr>
                  </thead>              
                  <tbody>
                    {% for bill in bills %}
                    <tr>
                      <th>{{bill.id}}</th>                      
                      <th>{{bill.date}}</th>
                      <th>{{bill.client}}</th>
                      <th> ₹{{bill.amount}}</th>
                      <th><a href="{% url 'update-bill' pk=bill.id %}">View</a></th>                                           
                    </tr>
                    {% endfor %}                    
                  </tbody>
                </table>
              </div>
            </div>

          </div>     
        </div>

      </div>
    </div>
  </div>
  {% endblock %}