{% extends "billing/_base.html" %}
{% block content %}

<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">My Dashboard</li>
  </ol>
  <!-- Icon Cards-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-bar-chart"></i> Challan Form</div>
          <div class="card-body">
            <div class="row">                
              <form class="form-horizontal" action="challan" method="POST">
                {% csrf_token %}
                <div class="form-group">
                {{form.as_p}}
                </div>                
                
                <div class="form-group row" style="text-align: center;">
                {{ formset.management_form }}
                {% for job in formset %}                             
                <div class="form-vertical col-md-4">
                {{job.as_p}}    
                </div>
                
                {% endfor %}
                </div>                
                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>            
        </div>        
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-table"></i> Challans</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>                      
                      <th>Date</th>
                      <th>Client</th>                      
                      <th>Amount</th>
                      <th>View</th>                      
                      <!-- <th>Print</th> -->
                      <th>Billed</th>
                    </tr>
                  </thead>              
                  <tbody>
                    {% for challan in challans %}
                    <tr>                      
                      <th>{{challan.date}}</th>
                      <th>{{challan.client}}</th>
                      <th>{{challan.total}}</th>
                      <th><a href="{% url 'update-challan' challan.id %}">View</a></th>
                                                                
                      {% if challan.bill is not none %}
                      <th>Yes</th>
                      {% else %}
                      <th class="table-warning" >No</th>
                      {% endif %} 
                                                                             
                    </tr>
                    {% endfor %}                    
                  </tbody>
                </table>
              </div>
            </div>

          </div>     
        </div>

      </div>
    </div>
  </div>
 
 {% include 'billing/challan_rate_modal.html' %}
  {% block scripts %}
  {% include 'billing/challan_rate_modal_scripts.html' %}
  {% endblock %}
  {% endblock %}
  