{% extends "billing/memo2.html" %}   
{% block table %}
<table class="table table-condensed-custom">
	<thead>
		<tr>								
			<td class="text-center">Job</td>
			<td class="text-center">Quantity</td>
			<td class="text-center">Rate</td>
			<td class="text-center">SGST</td>
			<td class="text-center">CGST</td>
			<td class="text-center">IGST</td>
			<td class="text-center">Total</td>        							
		</tr>
	</thead>
	<tbody>							
										
			{% for job in jobset %}
			<tr>
			<td>{{job.description}}</td>
			<td>{{job.quantity}}</td>
			<td>{{job.rate}}</td>
			<td>{{job.sgst}}</td>
			<td>{{job.cgst}}</td>
			<td>{{job.igst}}</td>
			<td>{{job.total}}</td>
			</tr>	
			{% endfor %}			    							
								                            						
	</tbody>
</table>
{% endblock %}