{% extends "billing/_base.html" %}
{% block content %}

<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">My Dashboard</li>
  </ol>
  <!-- Icon Cards-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-bar-chart"></i> Challan Form</div>
          <div class="card-body">
            <div class="row">                
              <form action="challan" method="POST">
                {% csrf_token %}
                
                {{form.as_p}}  

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>            
        </div>        
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-table"></i> Challans</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Date</th>
                      <th>Client</th>
                      <th>Job</th>
                      <th>Quantity</th>
                      <th>Rate</th>
                      <th>Billed</th>                      
                    </tr>
                  </thead>              
                  <tbody>
                    {% for challan in challans %}
                    <tr>
                      <th>{{challan.id}}</th>
                      <th>{{challan.date}}</th>
                      <th>{{challan.client}}</th>
                      <th>{{challan.job}}</th>
                      <th>{{challan.quantity}}</th>
                      {% if challan.rate is not none %}
                      <th> ₹{{challan.rate}}</th>
                      {% else %}
                      <th class="apply-rate table-danger" style="cursor: pointer;" id="challan{{challan.id}}">Apply</th>
                      {% endif %}
                      {% if challan.bill is not none %}
                      <th>Yes</th>
                      {% else %}
                      <th class="table-warning" >No</th>
                      {% endif %}                                                          
                    </tr>
                    {% endfor %}
                    <tr>
                      <th>ID</th>
                      <th>Date</th>
                      <th>Client</th>
                      <th>Job</th>
                      <th>Quantity</th>
                      <th>Rate</th>
                      <th>Billed</th>               
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>     
        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" id="rateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Apply Rate to challan id#<span class="challan-id"></span> </h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="rateForm">
            <input type="hidden" name="id" id="input-challan-id" >
            <input type="number" name="rate" placeholder="rate">
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button id="rateSubmit" class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>          
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block scripts %}
  <script type="text/javascript">
    $(document).ready(function() {
      $(".apply-rate").on('click',function(){
        var challan_id = $(this).attr('id').substr(7)
        $(".challan-id").html(challan_id);
        $("#input-challan-id").val(challan_id);
        $("#rateModal").modal();    
      });
      $("#rateForm").submit(function(e){
        e.preventDefault();
        var data =$(this).serialize();
        console.log(data)
        $.ajax({
          url: 'rate-challan',
          type: 'post',
          dataType: 'json',
          data: data,
          success: function(data) {
           $(".challan-id").html();
           $("#input-challan-id").val();
           if (data.error == true){
            alert (data.msg);
            $("#rateModal").modal('toggle');    
          }            
          else{
            alert ('Success');
            $("#rateModal").modal('toggle');    
          }
        },
        error: function(data){
          $(".challan-id").html();
          $("#input-challan-id").val();        
          alert ('Some error occured !'+data)
        }
      });
      });

    });

  </script>
  {% endblock %}
  