{% extends "billing/_base.html" %}
{% block content %}

<div class="container-fluid">
  <!-- Breadcrumbs-->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-bar-chart"></i> Client Details 
      
    </div>
    <div class="card-body">
      <div class="row">

        <form class="form-horizontal" action="clients" method="POST">
          {% csrf_token %}                
          <div class="form-group row">                  
            {% for f in form %}
            <div class=" col-md-4">
              {{f.label_tag}}<br>               
              {{f}}
            </div>
            {% endfor %}
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>                
        </form>
      </div>      

    </div>            
  </div>    

  
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-bar-chart"></i> Pending Challans
      <div class="pull-right">
      <a href="{% url 'generate-pending-bills' %}?id={{client.id}}">Generate Bills</a>
      </div>
    </div>
    <div class="card-body">
     <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>                      
            <th>Date</th>
            <th>Amount</th>
            <th>Rated</th>
            <th>View</th>                      
            <th>Print</th>
          </tr>
        </thead>              
        <tbody>
          {% for challan in challans %}
          <tr>                      
            <th>{{challan.date}}</th>
            <th>{{challan.total}}</th>                          
            {% if challan.rated %}
            <th> Yes</th>                      
            {% else %}
            <th class="table-danger">No</th>
            {% endif %}              
            <th><a href="{% url 'update-challan' challan.id %}">View</a></th>
            <th><a href="{% url 'generate-challan' %}?id={{challan.id}}">Print</a></th>                                                       
          </tr>
          {% endfor %}                    
        </tbody>
      </table>
    </div>
 <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-bar-chart"></i> Generated Bills
      
    </div>
    <div class="card-body">
     <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>                      
            <th>Date</th>
            <th>Amount</th>            
            <!-- <th>View</th>-->
            <th>Print</th>
          </tr>
        </thead>              
        <tbody>
          {% for bill in bills %}
          <tr>                      
            <th>{{bill.date}}</th>
            <th>{{bill.total}}</th>                          
            
            <!-- <th><a href="{% url 'update-bill' bill.id %}">View</a></th> -->
            <th><a href="{% url 'generate-bill' %}?id={{bill.id}}">Print</a></th>                                                       
          </tr>
          {% endfor %}                    
        </tbody>
      </table>
    </div>

  </div>
</div>




<!-- </div> -->
<!-- {% include 'billing/challan_rate_modal.html' %} -->
{% endblock %}

{% block scripts %}
<!-- {% include 'billing/challan_rate_modal_scripts.html' %} -->
{% endblock %}
