{% extends "billing/_base.html" %}
{% block content %}

<div class="container-fluid">
  <!-- Breadcrumbs-->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-bar-chart"></i> Client Details
      </div>
      <div class="card-body">
                      
          <form  method="POST">
                  {% csrf_token %}

                  {{form.as_p}}  

                  <button type="submit" class="btn btn-primary">Update</button>
                </form>
        
      </div>            
    </div>    
    <!-- Icon Cards-->
    <div class="row">
      <div class="col-lg-12">

        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>                      
                      <th>Date</th>
                      <th>Client</th>
                      <th>Job</th>
                      <th>Quantity</th>
                      <th>Rate</th>
                      <th>Billed</th>                      
                      <th>Print</th>
                    </tr>
                  </thead>              
                  <tbody>
                    {% for challan in challans %}
                    <tr>                      
                      <th>{{challan.date}}</th>
                      <th>{{challan.client}}</th>
                      <th>{{challan.job}}</th>
                      <th>{{challan.quantity}}</th>
                      {% if challan.rate is not none %}
                      <th> ₹{{challan.rate}}</th>                      
                      {% else %}
                      <th class="apply-rate table-danger" style="cursor: pointer;" id="challan{{challan.id}}">Apply</th>
                      {% endif %}
                      {% if challan.bill is not none %}
                      <th>Yes</th>
                      {% else %}
                      <th class="table-warning" >No</th>
                      {% endif %} 
                      <th><a href="{% url 'generate-challan' %}?id={{challan.id}}">Print</a></th>                                                       
                    </tr>
                    {% endfor %}                    
                  </tbody>
                </table>
        </div>

                       
        </div>
      </div>

    </div>
  </div>
{% include 'billing/challan_rate_modal.html' %}
  {% endblock %}

  {% block scripts %}
  {% include 'billing/challan_rate_modal_scripts.html' %}
  {% endblock %}
